img{
    width: 150px;
}
.pokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pokeBox{
    margin: 1%;
    border: solid rgb(236, 191, 191) 2px;
    background-image: radial-gradient:();

}
.App{
    display: grid;
    grid-template-rows: min-content;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: large;
}